button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid transparent;
    font-size: 2rem;
    color: #F62776;
    background-color: #ffffff;
    cursor: pointer;
}

button:hover {
    border: 1px solid #FFFFFF;
    background-color: #F62776;
    color: #FFFFFF;
    font-size: 2rem;
}